.sidebar {
  width: 80px !important;
  min-width: 80px !important;
  &:hover {
    width: 250px !important;
    min-width: 250px !important;

    @media (max-width: 991px) {
      width: 0 !important;
      min-width: 0 !important;
    }
    .descr {
      opacity: 1;
    }
  }

  @media (max-width: 991px) {
    width: 0 !important;
    min-width: 0 !important;
  }
}

.active {
  background: rgba(255, 255, 255, 0.23) !important;
}
.menuItem {
  color: white !important;
  z-index: 100 !important;
  a {
    padding-left: 20px !important;
  }
  a:hover {
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.23) !important;
  }
}

.descr {
  opacity: 0;
  transition: 0.2s;
  width: 250px;
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.collapsed {
  width: 250px !important;
  min-width: 250px !important;

  .descr {
    opacity: 1;
  }
}
