.sidebar {
  &:hover {
    width: 260px;
  }
  transition: 0.3s;
  width: 60px;
  overflow: hidden;
  z-index: 100;

  &.active {
    transform: none !important;
    width: 260px;
  }

  .nav-link {
    margin: 0 !important;
  }
}
.sidebarIcon {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.header {
  @media (max-width: 991px) {
    display: flex;
    justify-content: flex-end;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
  }
}

.burgerBtn {
  width: min-content;
  display: none;

  @media (max-width: 991px) {
    display: flex;
  }

  img {
    display: block;
    height: 40px;
    width: 40px;
  }
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
}
.logout {
  align-self: flex-end;
  cursor: pointer;
  img {
    display: block;
    height: 30px;
    width: 30px;
  }
}
.pointer {
  cursor: pointer;
}
.block {
  @media (max-width: 991px) {
    height: 72px;
  }
}
