.viewBtn {
  cursor: pointer;
}
.viewImg {
  height: 20px;
  width: 20px;
  display: block;
}
.btn {
  align-self: flex-end;
  display: flex;
  @media (max-width: 720px) {
    width: 100% !important;
  }
}
.num {
  width: 50px !important;
}
